@page
@model MuseWave.App.Pages.CreateAlbumModel
@{
    Layout = "_Layout";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<h2>Create Album</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Title</label>
        <input type="text" asp-for="Album.Title" />
        <label>Genre</label>
        <input type="text" asp-for="Album.Genre"/>

        <label>Cover Image</label>
        <input type="file" asp-for="CoverImage" id="coverImageInput" onchange="document.getElementById('Album_CoverImage').value = this.value.split('\\').pop();" />
        <span asp-validation-for="CoverImage" class="text-danger"></span>
        <input type="hidden" id="Album_CoverImage" asp-for="Album.CoverImage" />

        <input type="date" asp-for="Album.ReleaseDate" value="@today" />
    </div>
    <img id="coverImagePreview" src="#" alt="Cover Image Preview" style="display:none; max-width: 400px; max-height: 400px; margin-top: 20px;"/>
    <button type="submit">Create</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function() {
            // Preview the selected cover image
            $("#coverImageInput").change(function() {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#coverImagePreview").attr("src", e.target.result).show();
                }
                reader.readAsDataURL(this.files[0]);
            });

            // AJAX call to submit the form data
            $("form").submit(function(event) {
                event.preventDefault(); // Prevent the default form submission

                // Check if a cover image is selected
                if (!$("#coverImageInput").val()) {
                    alert("Please select a cover image.");
                    return;
                }

                // Check if the title is filled
                if (!$("input[name='Album.Title']").val()) {
                    alert("Please enter a title.");
                    return;
                }

                // Check if the genre is filled
                if (!$("input[name='Album.Genre']").val()) {
                    alert("Please enter a genre.");
                    return;
                }

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Page("/CreateAlbum")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        alert("Album created successfully!");
                        window.location.href = '/User';
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred: " + error);
                    }
                });
            });
        });
    </script>
}