@page
@using Microsoft.AspNetCore.Identity
@using MuseWave.Identity.Models
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to MuseWave</h1>
        @if (!SignInManager.IsSignedIn(User))
        {
            <p>Login and listen to your favorite music!</p>
        }
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Popular Artists</h2>
            <div class="card">
                <img class="card-img-top" src="artist1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Travis Scott</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="artist2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Future</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Popular Albums</h2>
            <div class="card">
                <img class="card-img-top" src="album1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Utopia</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="album2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Random</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                    <h2>Popular Songs</h2>
                    <div class="card">
                        <img class="card-img-top" src="song1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-page="/Song" asp-route-id="1">SOng1</a>
                            </h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="song2.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-page="/Song" asp-route-id="2">SOng2</a>
                            </h5>
                        </div>
                    </div>
                </div>
    </div>
</div>