@page
@model MuseWave.App.Pages.RequestArtistRoleModel
@{
    Layout = "_Layout";
}

<h2>Request Artist Role</h2>
<form method="post">
    <button class="btn btn-primary" type="submit">Request Artist Role</button>
</form>