@page
@model MuseWave.App.Pages.UserModel


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Hi</h2>
    <div>Username: @Model.appUser?.UserName</div>
</div>
</body>
</html>